* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; /* Substitua 'Roboto' pela fonte desejada */
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}

.green {
  background-color: rgb(155, 196, 158);
  color: #111;
}

.dark {
  background-color: #221b1b;
  color: #bbb;
}

.container {
  width: 100%;
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}